event_manager/__pycache__
event_manager/database/data.sqlite
event_manager/database

event_manager.egg-info

event_manager/markdown/description.md
event_manager/markdown/preview.html
event_manager/markdown

event_manager/cache/__object__.cache
event_manager/cache
