[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
premailer = "*"
mistune = "*"
humanize = "*"
click = "*"
beautifulsoup4 = "*"
python-dateutil = "*"
Pygments = "*"
SQLAlchemy = "*"
Jinja2 = "*"
event-manager = {path = "."}

[dev-packages]

[requires]
python_version = "3.8"
